{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/core/(.*)$",
    "^@/core/component/(.*)$",
    "^@/components/(.*)$",
    "^@/components/layout/(.*)$",
    "^@/components/screens/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/styles/(.*)$",
    "^@/config/(.*)$",
    "^@/utils/(.*)$",
    "^@/services/(.*)$",
    "^@/store/(.*)$",
    "^@/api/(.*)$",
    "^.+\\.(template\\html|module\\scss)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
