.fade-in {
	animation: fadeIn 0.75s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.bounce {
	animation: bounce 0.75s;
}

@keyframes bounce {
	from {
		transform: scale(0.25);
	}

	60% {
		transform: scale(1.25);
	}

	to {
		transform: scale(1);
	}
}

.rotate {
	animation: rotate 1.25s;
}

@keyframes rotate {
	from {
		transform: rotate(60deg);
	}

	60% {
		transform: rotate(-45deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes showIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	75% {
		opacity: 1;
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideIn {
	from {
		transform: translateX(200px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
