$font: 'Rubik', sans-serif;

$aqua: #13eac9;
$dark-jungle-green: #1a2421;
$davy-grey: #555555;
$mirage: #161928;
$onyx: #0f0f0f;
$pale-grey: #fdfdfe;
$purple-mimosa: #9e7bff;

$gap: 30px;
$radius: 0.75rem;
