@import '@/styles/mixins';

.transfer-field {
	@include flex-horizontal-center;
	margin-bottom: 1.2rem;
	width: 100%;

	> label {
		margin-bottom: 0;
		width: 70%;
		border-radius: 0.7rem 0 0 0.7rem;
	}

	> button {
		padding: 16px 10px;
		border-radius: 0 0.7rem 0.7rem 0;
		width: 30%;
	}
}
