@import '@/styles/variables';
@import '@/styles/mixins';

.field {
	@include transition(border-color);
	background-color: $grey-blue;
	border-radius: $radius;
	border: 1px solid transparent;
	padding: 12px 20px;
	margin-bottom: 1.25rem;
	display: block;

	&.error {
		border-color: rgba($vinous, 0.75);
	}

	&:focus-within {
		border-color: rgba($slate-blue, 0.75);
	}

	> input {
		width: 100%;

		&[type='number'] {
			appearance: textfield;
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
				-webkit-appearance: none;
			}
		}
	}
}
