@import '@/styles/variables';
@import '@/styles/mixins';

.button {
	@include transition(background-color);
	background-color: $grey-blue;
	color: $snow-white;
	border-radius: $radius;
	padding: 12px 30px;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;

	&:disabled {
		cursor: not-allowed;
		pointer-events: none;
	}

	&:hover {
		background-color: scale-color($grey-blue, $lightness: 20%);
	}

	&.green {
		background-color: $turquoise;

		&:hover {
			background-color: scale-color($turquoise, $lightness: 20%);
		}
	}

	&.purple {
		background-color: $slate-blue;

		&:hover {
			background-color: scale-color($slate-blue, $lightness: 20%);
		}
	}
}
